<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
<!-- 	<typeAliases>
		<typeAlias type="vo.BoardVo" alias="board"/>
	</typeAliases> -->
	
	<!-- 230109 추가 -->
	<typeAliases>
		<typeAlias type="board.BoardVO" alias="board"/>
		<typeAlias type="boarddata.BoardDataVO" alias="boardData"/>
	</typeAliases>

	
 	<mappers>
		<!-- sql작성된 파일 추가해주세요!
		<mapper resource="config/mybatis/mapper/member.xml"/> -->
		<mapper resource="config/mybatis/mapper/board.xml"/>
		<mapper resource="config/mybatis/mapper/boarddata.xml"/>
	</mappers> 
</configuration>